<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Politmonitoring</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!--styles from bubble chart in assets-->
    <link rel="stylesheet" href="assets/bubbleChart/css/reset.css">
    <link rel="stylesheet" href="assets/bubbleChart/css/bubble_chart.css">

</head>
<body id="politmonitoring">
<app-root></app-root>

<!--including script from bubble chart in assets-->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</body>
</html>
