/* You can add global styles to this file, and also import other style files */
.highlight_search_text {
    background-color: yellow;
}

#politmonitoring .container {
    max-width: 1400px;
}

body {
  background-color: #f8f8f7;
}

.bg-dark {
  background-color: #224452!important;
}

/*.tooltip > div {*/
  /*animation-name: delayedFadeIn;*/
  /*animation-duration: 1s; !* Adjust this duration *!*/
/*}*/
/*@Keyframes delayedFadeIn {*/
  /*0% {opacity: 0;}*/
  /*75% {opacity: 0;} !* Set this to 99% for no fade-in. *!*/
  /*100% {opacity: 1;}*/
/*}*/
