/* You can add global styles to this file, and also import other style files */
.highlight_search_text {
    background-color: yellow;
}

#politmonitoring .container {
    max-width: 1400px;
}

body {
  background-color: #f8f8f7;
}
