<app-data-filter [data]="data" (onFiltered)="replaceFilteredData($event)"></app-data-filter>
<!--<app-upload *ngIf="admin"></app-upload>-->
<div class="alert alert-warning my-2 d-lg-none" role="alert">
  <div class="row">
    <div class="col-md-12">
      <p>
        <b>Hinweis:</b> Die Visualisierung wird aufgrund von Platzmangel auf der mobilen Version nicht angezeigt.
        Bitte wechseln Sie zu einem Desktop-Gerät, um die Visualisierung anzuzeigen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="bubbles-img" src="../../assets/bubbles.png">
    </div>
  </div>
</div>
<div class="alert alert-warning my-2 alert-dismissible fade show" role="alert" *ngIf="detectIE()">
  <b>Hinweis:</b> Sie verwenden einen veralteten Browser, der von vielen modernen Webseiten nicht mehr länger
  unterstützt wird.
  Für mehr Sicherheit im Internet und ein besseres Nutzungserlebnis empfehlen wir Ihnen auf einen modernen Browser
  umzusteigen:
  <a href="https://www.mozilla.org/de/" target="_blank">Firefox</a>, <a href="https://www.google.com/chrome/"
                                                                        target="_blank">Chrome</a> oder
  <a href="https://support.apple.com/downloads/safari-for-windows" target="_blank">Safari (für macOS)</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<app-bubble-chart class="d-none d-lg-block d-xl-block" [data]="data"
                  [categoryFilter]="categoryFilter"></app-bubble-chart>

<app-bootstrap-table *ngIf="data"
                     [data]="data"
                     [title]="'Grossratsgeschäfte'"
                     [initialSortBy]="'Geschäfts-nr'">
</app-bootstrap-table>
<ng-template #infoBtnContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Informationen zum Politmonitor Basel-Stadt</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <b>Politmonitor Basel-Stadt: Thematischer Überblick der politischen Geschäfte des Grossen Rates von
        Basel-Stadt</b>
      <br><br>
      Der Politmonitor Basel-Stadt der
      <a href="http://www.entwicklung.bs.ch/" target="_blank">Kantons- und Stadtentwicklung Basel-Stadt</a>
      ermöglicht einen thematischen Überblick über die politischen Geschäfte des Grossen Rates des Kantons Basel-Stadt.
      Damit zeigt er die aktuellen Themen der Basler Politlandschaft auf.
      Er umfasst alle an den Regierungsrat überwiesenen Geschäfte ab 2019;
      davor sind jene Geschäfte thematisch erfasst, welche noch in Bearbeitung sind. Die Kantons- und
      Stadtentwicklung erfasst die politischen Geschäfte monatlich nach den Grossratssitzungen anhand der
      <a href="http://www.grosserrat.bs.ch/de/geschaefte-dokumente/datenbank/" target="_blank">Datenbank des Grossen
        Rats Basel-Stadt</a>
      und ordnet sie 13 Ober- und 46 Unterthemen zu, welche für das Staatswesen relevant sind.
      <br><br>
      Zur besseren Lesbarkeit wurden die Daten als Pilotprojekt im Rahmen der
      <a href="http://www.smartcity.bs.ch/" target="_blank">Smart City Strategie des Kantons Basel-Stadt</a>
      in Zusammenarbeit mit der
      <a href="http://www.digitale-nachhaltigkeit.unibe.ch/" target="_blank">Forschungsstelle Digitale Nachhaltigkeit
        der Universität Bern</a>
      visualisiert.
      Die Daten können über den Download-Link sowie über das
      <a href="https://data.bs.ch/" target="_blank">Datenportal Open Data Basel-Stadt</a>
      heruntergeladen und weiterverwendet werden.
      <br><br>
      Fragen und Rückmeldungen an: <a href="https://www.entwicklung.bs.ch/grundlagen/monitoring/politmonitor.html"
                                      target="_blank">Kantons- und Stadtentwicklung Basel-Stadt</a>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Schliessen</button>
  </div>
</ng-template>
<button class="btn btn-primary m-2 p-2 px-3 infoBtn" id="openModal" (click)="openLg(infoBtnContent)">i</button>
