<app-data-filter [data]="data" (onFiltered)="replaceFilteredData($event)"></app-data-filter>
<div class="alert alert-warning my-2 d-lg-none" role="alert">
  <div class="row">
    <div class="col-md-12">
      <p>
        <b>Hinweis:</b> Die Visualisierung wird aufgrund von Platzmangel auf der mobilen Version nicht angezeigt.
        Bitte wechseln Sie zu einem Desktop-Gerät, um die Visualisierung anzuzeigen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="bubbles-img" src="../../assets/bubbles.png">
    </div>
  </div>
</div>
<div class="alert alert-warning my-2 alert-dismissible fade show" role="alert" *ngIf="detectIE()">
  <b>Hinweis:</b> Sie verwenden einen veralteten Browser, der von vielen modernen Webseiten nicht mehr länger
  unterstützt wird.
  Für mehr Sicherheit im Internet und ein besseres Nutzungserlebnis empfehlen wir Ihnen auf einen modernen Browser
  umzusteigen:
  <a href="https://www.mozilla.org/de/" target="_blank">Firefox</a>, <a href="https://www.google.com/chrome/"
                                                                        target="_blank">Chrome</a> oder
  <a href="https://support.apple.com/downloads/safari-for-windows" target="_blank">Safari (für macOS)</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<app-bubble-chart class="d-none d-lg-block d-xl-block" [data]="data"
                  [categoryFilter]="categoryFilter"></app-bubble-chart>

<app-bootstrap-table *ngIf="data"
                     [data]="data"
                     [title]="'Grossratsgeschäfte'"
                     [initialSortBy]="'Geschäfts-nr'">
</app-bootstrap-table>
<ng-template #infoBtnContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Informationen zum politischen Themenmonitor Basel-Stadt</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <b>Politischer Themenmonitor Basel-Stadt</b>
      <br><br>
      Der politische Themenmonitor ermöglicht einen visualisierten, thematischen Überblick über die politischen Vorstösse des Grossen Rates des Kantons Basel-Stadt. Damit zeigt er die inhaltliche Vielfalt, welche die Basler Politlandschaft thematisiert.
      <br><br>
      Der politische Themenmonitor Basel-Stadt ist ein Pilotprojekt der <a href="http://www.entwicklung.bs.ch" target="_blank">Kantons- und Stadtentwicklung Basel-Stadt</a> im Rahmen der <a href="https://www.smartcity.bs.ch" target="_blank">Smart City Strategie des Kantons Basel-Stadt</a>. Er umfasst alle vom Grossen Rat an den Regierungsrat überwiesenen Vorstösse ab 2019, die von der stimmberechtigten Bevölkerung eingereichten Volksinitiativen und Referenden sowie die Petitionen. Die Kantons- und Stadtentwicklung ordnet die politischen Geschäfte regelmässig anhand der <a href="https://www.grosserrat.bs.ch" target="_blank">Datenbank des Grossen Rats Basel-Stadt</a> einem von insgesamt 13 Themenbereichen sowie einem bis zwei von insgesamt 46 Unterthemen zu, welche für das Staatswesen relevant sind. Die thematischem Zuweisungen sind anschaulich visualisiert und mit verschiedenen Filter-Funktionen ausgestattet.
      <br><br>
      Das Pilot-Projekt erfolgt in Zusammenarbeit mit dem <a href="https://www.grosserrat.bs.ch/parlament/parlamentsdienst" target="_blank">Parlamentsdienst des Grossen Rats</a>,der <a href="https://www.statistik.bs.ch/ueber-uns/rechtliche-grundlagen/fachstelle-ogd.html" target="_blank">Fachstelle Open Government Data des Statistischen Amts Basel-Stadt</a> sowie der <a href="http://www.digitale-nachhaltigkeit.unibe.ch" target="_blank">Forschungsstelle Digitale Nachhaltigkeit der Universität Bern</a>. Die Daten sind öffentlich zugänglich und können über den Download-Link sowie über das <a href="https://data.bs.ch/explore/dataset/100086" target="_blank">Datenportal Open Data Basel-Stadt</a> heruntergeladen und weiterverwendet werden.
      <br><br>
      Fragen und Rückmeldungen an: <a href="mailto:mailto:entwicklung@bs.ch" target="_blank">Kantons- und Stadtentwicklung Basel-Stadt</a>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Schliessen</button>
  </div>
</ng-template>
<button class="btn btn-primary m-2 p-2 px-3 infoBtn" id="openModal" (click)="openLg(infoBtnContent)">i</button>
