<app-data-filter [data]="data" (onFiltered)="replaceFilteredData($event)"></app-data-filter>
<!--<app-upload *ngIf="admin"></app-upload>-->
<div class="alert alert-warning my-2 d-lg-none" role="alert">
  <b>Hinweis:</b> Die Visualisierung ist nicht für Mobilegeräte und Anzeigegrössen unter 990 Pixel optimiert.
</div>
<div class="alert alert-warning my-2 alert-dismissible fade show" role="alert" *ngIf="detectIE()">
  <b>Hinweis:</b> Sie verwenden einen veralteten Browser, der von vielen modernen Webseiten nicht mehr länger unterstützt wird.
  Für mehr Sicherheit im Internet und ein besseres Nutzungserlebnis empfehlen wir Ihnen auf einen modernen Browser umzusteigen: 
  <a href="https://www.mozilla.org/de/" target="_blank">Firefox</a>, <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>, 
  <a href="https://support.apple.com/downloads/safari-for-windows" target="_blank">Safari</a>,
  <a href="https://www.opera.com/de" target="_blank">Opera</a> oder <a href="https://brave.com/" target="_blank">Brave</a>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<app-bubble-chart [data]="data" [categoryFilter]="categoryFilter"></app-bubble-chart>
<app-bootstrap-table *ngIf="data"
                       [data]="data"
                       [title]="'Grossratsgeschäfte'"
                       [initialSortBy]="'Geschäfts-nr'">
</app-bootstrap-table>
<ng-template #infoBtnContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Informationen zum Politmonitor Basel-Stadt</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Der Politmonitor Basel-Stadt ist ein Arbeitsinstrument der Kantons- und Stadtentwicklung, welches sie der
      Öffentlichkeit zur Verfügung stellt. Die Kantons- und Stadtentwicklung beobachtet mit dem Politmonitor die mittel- 
      und längerfristige Entwicklung der politischen Themen in Basel-Stadt.<br><br>
      Erfasst werden die wirkungsstärksten Geschäfte des Grossen Rates und der Bevölkerung: Volksinitiativen sowie
      Motionen, Anzüge und Petitionen, welche vom Grossen Rat mit Mehrheitsbeschluss an die Regierung überwiesen werden.
      Der Datensatz ist ab dem Jahr 2015 vollständig, davor sind nur die Geschäfte erfasst, die noch in Bearbeitung sind.<br><br>
      Die Daten wurden im Rahmen eines Open Government Data Pilotprojektes von der
      <a href="http://www.digitale-nachhaltigkeit.unibe.ch/" target="_blank">Forschungsstelle Digitale Nachhaltigkeit</a>
      der Universität Bern visualisiert.<br><br>
      Fragen, Rückmeldungen und letzte Aktualisierung:
      <a href="http://www.entwicklung.bs.ch/politmonitor">Kantons- und Stadtentwicklung Basel-Stadt</a></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Schliessen</button>
  </div>
</ng-template>
<button class="btn btn-primary m-2 p-2 px-3 infoBtn" id="openModal" (click)="openLg(infoBtnContent)">i</button>
