.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

#toolbar .button-wrapper {
  width: calc(20% - 4px);
  display: inline-block;
  padding: 0 10px;
}

#toolbar .button-wrapper .btn {
  width: 100%;
}

#toolbar button.btn.active {
  background-color: rgb(36, 96, 54);
  color: white;
}

#toolbar .btn-light {
  background-color: rgba(132, 95, 53, .1);
}

#toolbar .button-wrapper > .btn {
  border-color: rgb(36, 96, 54);
}
