<div class="row">
  <div class="col-12">
    <div class="card my-3" *ngIf="admin">
    <!--<div class="card my-3">-->
      <div class="card-body">
        <h2>Neue Daten hochladen</h2>
        <p>Hier kann die Visualisierung mit neuen Grossratsgeschäfts-Daten aktualisiert werden.</p>
        <p>Die neue Datei muss für eine erfolgreiche Aktualisierung die untenstehenden Bedingungen erfüllen.</p>
        <div class="custom-file w-50">
          <input type="file" class="custom-file-input" id="customFile"
                 name="json" ng2FileSelect [uploader]="uploader"
                 (change)="changePathValue($event)">
          <label class="custom-file-label" id="uploadLabel" for="customFile">Daten auswählen</label>
          <!--<input class="custom-file-input" type="file" name="json" ng2FileSelect [uploader]="uploader" />-->
          <button type="button" class="btn btn-secondary my-2"
                  (click)="uploader.uploadAll()"
                  [disabled]="!uploader.getNotUploadedItems().length">Hochladen
          </button>
        </div>
        <div class="beschreibung w-100 mt-5">
        <b>Excel-Voraussetzungen</b>
        <ol>
          <li>Dateiformat: <em>.xlsx</em></li>
          <li>Die relevanten Daten befinden sich im zweiten Arbeitsblatt (worksheet)</li>
          <li>Kein freistehender Text. Nur Daten zu den jeweiligen Spalten</li>
          <li>Spaltenüberschriften:
            <ul>
              <li>Geschäfts-nr</li>
              <li>Instrument</li>
              <li>UrheberIn</li>
              <li>Titel</li>
              <li>Status</li>
              <li>Jahr</li>
              <li>Themenbereich</li>
              <li>Thema 1 (gleiche Nr wie Themenbereich)</li>
              <li>Thema 2 (andere Nr)</li>
              <li>Themenbereich Thema 2</li>
              <li>Schwerpunktthema (bei Bedarf)</li>
              <li>Konsorten</li>
              <li>Link</li>
              <li>Partei</li>
            </ul>
          </li>
        </ol>
        <p><b>Wichtig: </b>In den Spaltenüberschriften sollten keine Punkte <b><em>.</em></b> oder
          eckige Klammern <b><em>[ ]</em></b> verwendet werden.</p>
        </div>
      </div>
    </div>
    <div class="card my-3" *ngIf="!admin">
    <!--<div class="card my-3">-->
      <div class="m-2">
        <h1>Kein Zugriff</h1>
        <p>Bitte Authorisieren Sie sich <b><a [routerLink]="['/admin']">hier</a></b> um Zugriff zu erhalten</p>
      </div>
    </div>
  </div>
</div>
