<button class="btn btn-primary m-2 downloadMenuBtn" (click)="openLg(downloadBtnContent)">
  <fa-icon [icon]="faDownload"></fa-icon>
</button>
<ng-template #downloadBtnContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Download Datensatz Politmonitor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2" id="row0">
      <div class="col">
        <h5>Vollständig</h5>
      </div>
      <div class="col">
        <h5>Gefiltert</h5>
      </div>
    </div>
    <div class="row mb-2" id="row1">
      <div class="col">
        <button [disabled]="paused" class="btn btn-primary" (click)="onDownloadFullCsv()">
          <fa-icon [icon]="faFileAlt"></fa-icon>&nbsp;.CSV&nbsp;&nbsp;
        </button>
      </div>
      <div class="col">
        <button [disabled]="paused" class="btn btn-primary" (click)="onDownloadCsv()">
          <fa-icon [icon]="faFileAlt"></fa-icon>&nbsp;.CSV&nbsp;&nbsp;
        </button>
      </div>
    </div>
    <div class="row mb-2" id="row2">
      <div class="col">
        <button [disabled]="paused" class="btn btn-primary" (click)="onDownloadFullXlsx()">
          <fa-icon [icon]="faFileExcel"></fa-icon>&nbsp;.XLSX
        </button>
      </div>
      <div class="col">
        <button [disabled]="paused" class="btn btn-primary" (click)="onDownloadXlsx()">
          <fa-icon [icon]="faFileExcel"></fa-icon>&nbsp;.XLSX
        </button>
      </div>
    </div>
    <div class="row mb-2" id="row3">
      <div class="col">
        <button [disabled]="paused" class="btn btn-primary" (click)="onDownloadFullPdf()">
          <fa-icon [icon]="faFilePdf"></fa-icon>&nbsp;.PDF&nbsp;&nbsp;
        </button>
      </div>
      <div class="col">
        <button [disabled]="paused" class="btn btn-primary" (click)="onDownloadPdf()">
          <fa-icon [icon]="faFilePdf"></fa-icon>&nbsp;.PDF&nbsp;&nbsp;
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Schliessen</button>
  </div>
</ng-template>