<!--because navbar is static, we add this invisible placeholder to provide space for the navbar -->
<div class="invisible-navbar-placeholder"></div>
<div class="custom-fixed-navbar container navbar">
  <div class="content">
    <form class="form-inline">
      <div class="input-group mr-sm-2" id='seachInput'>
        <input name='search' class="form-control" type="search" placeholder="Suchen" aria-label="Suchen"
               (keydown)="keyDownFunction($event)" [(ngModel)]="searchText">
        <div class="input-group-append">
          <div class="input-group-text" (click)="filterData('')">Suchen</div>
        </div>
      </div>
    </form>
    <div class="dropdown mr-sm-5">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="categoryFilter === 'all'">Themenbereich auswählen</span>
        <span *ngIf="categoryFilter !== 'all'">{{categoryFilter}}</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <div (click)="filterData('all')">
            <input type="radio" id="radio_all" name="radio-group" [checked]="categoryFilter === 'all'">
            <label for="radio_all">Alle</label>
          </div>
        </div>
        <div class="dropdown-item" *ngFor="let entry of categoryDropdown; let i = index">
          <div (click)="filterData(entry)">
            <input type="radio" id="radio_{{i}}" name="radio-group">
            <label for="radio_{{i}}">{{entry}}</label>
          </div>
        </div>
      </div>
    </div>
    <div id="dateFilter">
      <div class="dropdown mr-sm-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Jahr auswählen
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <div class="dropdown-item" *ngFor="let entry of yearDropdown; let i = index">
            <div>
              <input type="checkbox" id="checkbox_{{entry.year}}" [(checked)]="entry.checked" (change)="filterYears(entry)">
              <label for="checkbox_{{entry.year}}">{{entry.year}}</label>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary" type="button" (click)="resetFilters()">
          X
        </button>
      </div>
    </div>
  </div>
</div>
