.custom-fixed-navbar {
  height: 56px;
  width: 100%;
  position: fixed;
  margin-left: -15px;
  z-index: 2;
  padding: 0 0;
}

.invisible-navbar-placeholder {
  height: 56px;
  width: 100%;
  visibility: hidden;
}

.content {
  background-color: #E6E6E6;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  margin: 0 15px;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.dropdown-item {
  cursor: pointer;
}

/*CSS FOR RADIO BUTTONS*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #3da7f8;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#seachInput .input-group-append {
  cursor: pointer;
}

#seachInput input {
  padding: 0 10px;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

#dateFilter {
  position: absolute;
  right: 30px;
}

button.reset-filter {
  position: absolute;
  width: 25px;
  height: 20px;
  padding: 0;
  margin-top: -7px;
  line-height: 1px;
  right: -10px;
  border: 1px solid black;
  z-index: 10;
}

button.reset-filter:hover {
  background-color: #aeb3b7;
}

.reset-filter > span {
  position: absolute;
  top: 8px;
  left: 7.5px;
  font-size: 13px;
}
