<!--because navbar is static, we add this invisible placeholder to provide space for the navbar -->
<div class="invisible-navbar-placeholder"></div>
<div class="custom-fixed-navbar container navbar">
  <div class="content">
    <form class="form-inline">
      <div class="input-group mr-sm-2" id='seachInput'>
        <input name='search' class="form-control" type="search" placeholder="Suchen" aria-label="Suchen"
               (keydown)="keyDownFunction($event)" [(ngModel)]="searchText">
        <div class="input-group-append">
          <div class="input-group-text" (click)="filterData('')">Suchen</div>
        </div>
      </div>
    </form>
    <div ngbDropdown class="mr-sm-2">
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton"
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="categoryFilter === 'all'">Themenbereich</span>
        <span *ngIf="categoryFilter !== 'all'">{{categoryFilter}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <div (click)="filterByCategory('all')">
            <input type="radio" id="radio_all" name="radio-group" [checked]="categoryFilter === 'all'">
            <label for="radio_all">Alle</label>
          </div>
        </div>
        <div class="dropdown-item" *ngFor="let entry of categoryDropdown; let i = index">
          <div (click)="filterByCategory(entry)">
            <input type="radio" id="radio_{{i}}" name="radio-group">
            <label for="radio_{{i}}">{{entry}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2">
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton2" ngbDropdownToggle
              aria-haspopup="true" aria-expanded="false">
        Jahr
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
        <div class="dropdown-item" *ngFor="let entry of yearDropdown; let i = index">
          <div>
            <input type="checkbox" id="checkbox_{{entry.year}}" [(checked)]="entry.checked" (change)="filterYears(entry)">
            <label for="checkbox_{{entry.year}}">{{entry.year}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2">
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton3" ngbDropdownToggle
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="statusFilter === 'all'">Status</span>
        <span *ngIf="statusFilter !== 'all'">{{statusFilter}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton3">
        <div class="dropdown-item">
          <div (click)="filterStatus('all')">
            <input type="radio" id="radio_status_all" name="radio-group2" [checked]="statusFilter === 'all'">
            <label for="radio_all">Alle</label>
          </div>
        </div>
        <div class="dropdown-item">
          <div (click)="filterStatus('Erledigt')">
            <input type="radio" id="radio_status_erledigt" name="radio-group2" [checked]="statusFilter === 'Erledigt'">
            <label for="radio_all">Erledigt</label>
          </div>
        </div>
        <div class="dropdown-item">
          <div (click)="filterStatus('In Bearbeitung')">
            <input type="radio" id="radio_status_bearbeitung" name="radio-group2" [checked]="statusFilter === 'In Bearbeitung'">
            <label for="radio_all">In Bearbeitung</label>
          </div>
        </div>
      </div>
    </div>
    <div id="dateFilter" *ngIf="filtered">
      <button class="btn btn-secondary" type="button" (click)="resetFilters()" placement="bottom" ngbTooltip="Tooltip on top">
        X
      </button>
    </div>
  </div>
</div>
