<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="toolbar">
                    <div class="row">
                        <div class="col-2">
                            <p id="all" class="button active">Alle</p>
                        </div>
                        <div class="col-2">
                            <p id="parteien" class="button">Urheber</p>
                        </div>
                        <div class="col-2">
                            <p id="themenbereich" class="button">Themenbereich</p>
                        </div>
                        <div class="col-2">
                            <p id="instrument" class="button">Instrument</p>
                        </div>
                    </div>
                </div>
                <div id="vis"></div>
            </div>
        </div>
    </div>
</div>
