<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div id="toolbar">
          <div class="row">
            <div class="col-12">
              <div class="button-wrapper">
                <button id="parteien" class="btn active">Partei</button>
              </div>
              <div class="button-wrapper">
                <button id="themenbereich" class="btn">Themenbereich</button>
              </div>
              <div class="button-wrapper">
                <button id="instrument" class="btn">Instrument</button>
              </div>
              <div class="button-wrapper">
                <button id="jahr" class="btn">Jahr</button>
              </div>
              <div class="button-wrapper">
                <button id="all" class="btn">Alle</button>
              </div>
            </div>
          </div>
        </div>
        <div id="vis"></div>
      </div>
    </div>
  </div>
</div>
