.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

#toolbar .button-wrapper {
  width: calc(20% - 4px);
  display: inline-block;
  padding: 0 10px;
}

#toolbar .button-wrapper .btn {
  width: 100%;
}

#toolbar button.btn.active {
  background-color: #6c757d;
  color: white;
}
