<!--because navbar is static, we add this invisible placeholder to provide space for the navbar -->
<div class="invisible-navbar-placeholder"></div>
<div class="custom-fixed-navbar container navbar">
  <div class="content">
    <div class="form-inline">
      <div class="input-group mr-sm-2" id='seachInput'>
        <button class="btn reset-filter" *ngIf="searchText.length > 0" (click)="resetSearchText()"><span>X</span></button>
        <input name='search' class="form-control" type="search" placeholder="Volltextsuche" aria-label="Suchen"
               (keydown)="keyDownFunction($event)" [(ngModel)]="searchText">
        <div class="input-group-append">
          <div class="input-group-text" (click)="filterData()">Suchen</div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2">
      <button class="btn reset-filter" *ngIf="categoryFilter.description !== 'all'" (click)="resetCategoryFilter()"><span>X</span></button>
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton"
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="categoryFilter.description === 'all'">Themenbereich</span>
        <span *ngIf="categoryFilter.description !== 'all'">{{categoryFilter.description}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <div (click)="filterByCategory(true)">
            <input type="radio" id="radio_all" name="radio-group" [checked]="categoryFilter.description === 'all'">
            <label for="radio_all">Alle</label>
          </div>
        </div>
        <div class="dropdown-item" *ngFor="let entry of categoryDropdown; let i = index">
          <div (click)="filterByCategory(false, entry)">
            <input type="radio" id="radio_{{i}}" name="radio-group">
            <label for="radio_{{i}}">{{entry.description}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2" *ngIf="admin">
      <button class="btn reset-filter" *ngIf="keyTopicFilter !== 'all'" (click)="resetKeyTopicFilter()"><span>X</span></button>
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="keyTopicDropdownButton"
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="keyTopicFilter === 'all'">Schwerpunktthema</span>
        <span *ngIf="keyTopicFilter !== 'all'">{{keyTopicFilter}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <div (click)="filterByKeyTopic('all')">
            <input type="radio" id="radio_all_key_topic" name="radio-group-key-topic" [checked]="keyTopicFilter === 'all'">
            <label for="radio_all_key_topic">Alle</label>
          </div>
        </div>
        <div class="dropdown-item" *ngFor="let entry of keyTopicDropdown; let i = index">
          <div (click)="filterByKeyTopic(entry)">
            <input type="radio" id="radio_key_topic_{{i}}" name="radio-group-key-topic">
            <label for="radio_key_topic_{{i}}">{{entry}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2">
      <button class="btn reset-filter" *ngIf="partyFilter !== 'all'" (click)="resetPartyFilter()"><span>X</span></button>
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="partyDropdownButton"
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="partyFilter === 'all'">Partei</span>
        <span *ngIf="partyFilter !== 'all'">{{partyFilter}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="partyDropdownButton">
        <div class="dropdown-item">
          <div (click)="filterByParty('all')">
            <input type="radio" id="radio_all_party" name="radio-group-party" [checked]="partyFilter === 'all'">
            <label for="radio_all_party">Alle</label>
          </div>
        </div>
        <div class="dropdown-item" *ngFor="let entry of partyDropdown; let i = index">
          <div (click)="filterByParty(entry)">
            <input type="radio" id="radio_party_{{i}}" name="radio-group-party">
            <label for="radio_party_{{i}}">{{entry}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2">
      <button class="btn reset-filter" *ngIf="instrumentFilter !== 'all'" (click)="resetInstrumentFilter()"><span>X</span></button>
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="instrumentDropdownButton"
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="instrumentFilter === 'all'">Instrument</span>
        <span *ngIf="instrumentFilter !== 'all'">{{instrumentFilter}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="instrumentDropdownButton">
        <div class="dropdown-item">
          <div (click)="filterByInstrument('all')">
            <input type="radio" id="radio_all_instrument" name="radio-group-instrument" [checked]="instrumentFilter === 'all'">
            <label for="radio_all_instrument">Alle</label>
          </div>
        </div>
        <div class="dropdown-item" *ngFor="let entry of instrumentDropdown; let i = index">
          <div (click)="filterByInstrument(entry)">
            <input type="radio" id="radio_instrument_{{i}}" name="radio-group-instrument">
            <label for="radio_instrument_{{i}}">{{entry}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2" (click)="stopEventPropagation($event)">
      <button class="btn reset-filter" *ngIf="yearFilterSet" (click)="resetYearFilter()"><span>X</span></button>
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton2" ngbDropdownToggle
              aria-haspopup="true" aria-expanded="false">
        Jahr
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
        <button class="btn ml-2 mb-2" type="button" (click)="checkAllYears()">Alle</button>
        <button class="btn mb-2" type="button" (click)="uncheckAllYears()">Keine</button>
        <div class="dropdown-item" *ngFor="let entry of yearDropdown; let i = index">
          <div>
            <input type="checkbox" id="checkbox_{{entry.year}}" [(checked)]="entry.checked" (change)="filterYears(entry)">
            <label for="checkbox_{{entry.year}}">{{entry.year}}</label>
          </div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="mr-sm-2">
      <button class="btn reset-filter" *ngIf="statusFilter !== 'all'" (click)="resetStatusFilter()"><span>X</span></button>
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton3" ngbDropdownToggle
              aria-haspopup="true" aria-expanded="false">
        <span *ngIf="statusFilter === 'all'">Status</span>
        <span *ngIf="statusFilter !== 'all'">{{statusFilter}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton3">
        <div class="dropdown-item">
          <div (click)="filterStatus('all')">
            <input type="radio" id="radio_status_all" name="radio-group2" [checked]="statusFilter === 'all'">
            <label for="radio_status_all">Alle</label>
          </div>
        </div>
        <div class="dropdown-item">
          <div (click)="filterStatus('Erledigt')">
            <input type="radio" id="radio_status_erledigt" name="radio-group2" [checked]="statusFilter === 'Erledigt'">
            <label for="radio_status_erledigt">Erledigt</label>
          </div>
        </div>
        <div class="dropdown-item">
          <div (click)="filterStatus('In Bearbeitung')">
            <input type="radio" id="radio_status_bearbeitung" name="radio-group2" [checked]="statusFilter === 'In Bearbeitung'">
            <label for="radio_status_bearbeitung">In Bearbeitung</label>
          </div>
        </div>
      </div>
    </div>
    <div id="dateFilter" *ngIf="filtered">
      <button class="btn btn-secondary" type="button" (click)="resetFilters()" placement="bottom" ngbTooltip="Alle&nbsp;Filter&nbsp;zurücksetzen">
        X
      </button>
    </div>
  </div>
</div>
