.custom-fixed-navbar {
  width: 100%;
  position: fixed;
  margin-left: -15px;
  z-index: 22;
  padding: 0 0;
}

.invisible-navbar-placeholder {
  width: 100%;
  visibility: hidden;
  height: 54px;
}

.content {
  background-color: #E6E6E6;
  padding: 0 10px;
  width: 100%;
  margin: 0 15px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  height: 100%;
}

.dropdown-item {
  cursor: pointer;
}

/*CSS FOR RADIO BUTTONS*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #3da7f8;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#seachInput .input-group-append {
  cursor: pointer;
}

#seachInput input {
  padding: 0 10px;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

#dateFilter {
  position: absolute;
  right: 25px;
  top: 5px;
}

button.reset-filter {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: -7px;
  right: -10px;
  z-index: 10;
  background-color: white;
}

button.reset-filter:hover {
  background-color: #aeb3b7;
}

/*.reset-filter > span {
  position: absolute;
  top: 8px;
  left: 7.5px;
  font-size: 13px;
}*/

.chip {
  display: inline-block;
  border-radius: 25px;
  background-color: #fff;

  float: left;
}

.close-btn {
  padding: 0 0 0 10px;
}

.chip-all, .chip {
  margin: 5px;
  padding: 0 10px;
  height: 18px;
  line-height: 18px;
}

.filter-row {
  align-items: center;
  font-size: 13px;
}

.filter-top, #dropdowns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-top {
  margin: 5px 0
}

#filter-legend {
  display: none;
  pointer-events: none;
}

.no-padding {
  padding: 0 !important;
}

.small-margin {
  margin: 3px;
}

#dropdowns {
  display: flex;
}

#dropdown-toggle {
  display: none;
}

@media (max-width: 580px) {
  #dropdowns {
    display: none;
  }
  #dropdown-toggle {
    display: block;
    position: absolute;
    top: 5px;
    right: 25px;
  }
  #dateFilter {
    right: 75px;
  }
}

.search-sugg-link{
  cursor: pointer;
  color: #0056b3!important;
}

.search-sugg-link:hover {
  color: #0056b3!important;
  text-decoration: underline!important;
}
